* {
    font-family: 'Oswald', sans-serif;
    line-height: 2;
}

header .jumbotron {
    background-position: center;
    background-size: cover;
    background-image: url('../img/header.jpg');
    color: white;
}

#chooseBoss {
    padding-bottom: 10px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
